<li id="jewel-<%= jewel.id %>">
  <span class="name"><%= link_to jewel.name, jewel %></span>
  <span class="description"><%= jewel.description %></span>
  <span class="price"><%= jewel.price %></span>
  <span class="quantity"><%= jewel.quantity %></span>
</li>